html,body{
    margin:0;
    padding:0;
}
nav{
    background-image: linear-gradient( #dbe9f3, #b8cce0, #96afcd, #7392ba, #5175A7, #2e5894);
    padding: 50px;
    }
 nav a{
    text-decoration:none;
    font-family: 900 italic ;
    color:#46AcF1;
    border: white solid 2px;
    border-radius: 25px 90px 90px;
    padding: 12px;
    margin-left: 25px;
    background-color:white;
    text-shadow:#7EC4EF 2px 2px 2px;
        
}
 .name{
    background-image: linear-gradient( #dbe9f3, #b8cce0, #96afcd, #7392ba, #5175A7, #2e5894);
 }
 .name2{ 
    display:inline-block;
    padding-left: 500px;
    color: white;
 }
.home{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px   
}
.home_image{
    border-radius: 12px;    
}
.home_content {
    overflow:hidden;
    word-wrap: break-word;
    max-width: 600px;
    font-size: 1.4em;
    color:white;
    border-radius: 50px;
    padding: 25px;
    background-color:#46AcF1;
    box-shadow: #5cb6f2  10px 10px 10px ;
    }
body{
background: linear-gradient(90deg, rgba(4, 4, 51, 0.95) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
.Name{
   color: white;
   font-size: 4em;
}
.class{
    display: flex;
    flex-direction:row;
    }
.PIMG{
   padding-top: 50px;
   padding-left: 150px;
   padding-right: 150px;
   border-radius:12px;
   margin-top: 50px;
}
.PPIMG{
    border-radius: 12px;
}
.P1{
    font-weight: bold;
    max-width: 250px;
    color:  white;
    font-size:1.1em;
    border: 5px solid #46AcF1;
    border-radius: 12px;
    padding: 12px;
    background-color: #46AcF1;
    box-shadow: #5cb6f2  10px 10px 10px ;
    }

    .about{
        display:flex;
        align-items:center;
        flex-direction: column;
        margin-top: 50px;
    }
 
    .AP{
    font-weight: bold;
    max-width: 950px;
    color:  white;
    font-size:1.1em;
    border: 5px solid #46AcF1;
    border-radius: 12px;
    padding: 12px;
    background-color: #46AcF1;
    box-shadow: #5cb6f2  10px 10px 10px ;

    }
    .PA{
        border-radius:12px;
    }

    .section {
        display: flex;
        align-items: center;
        color:white;
        width: 100%;
        justify-content: center;
        

    }

    section form h2{
        text-align: center;
    }

    form{
        display: flex;
        flex-direction: column;
        border: 2px solid white;
        border-radius: 12px;
        padding: 12px;
        margin-top: 50px;
        background: linear-gradient(90deg, rgba(4, 4, 51, 0.95) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     }
  @media (max-width:980px) {
    body{ background: darkblue;
  }
}
    
      

    


   




 


 
    
    


